<div class="container">
  <h2>Login</h2>
  <form>
    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" />
    </div>
    <div class="form-group">
      
      <a href="#" class="forgot-password">Forgot Password?</a>
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
    <!-- <button type="submit" class="btn btn-primary">Login</button> -->
  </form>
</div>
